{{ define "main" }}
<div class="post">
    <h2 style="margin: 0; padding: 0; line-height: 1; font-size: 1.4rem; font-weight: normal; font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;">{{ .Title }}</h2>
    <div class="post-date" style="margin-top: 0.5rem; margin-bottom: 2rem; color: #666; font-size: 0.85rem;">{{ .Date.Format "January 02, 2006" }}</div>
    <div class="post-content" style="white-space: pre-wrap;">
        {{ .Content }}
    </div>
</div>

<style>
    .post {
        margin: 0;
        padding: 0;
    }
    
    .post-content {
        line-height: 1.5;
        font-size: 0.95rem;
    }
</style>
{{ end }}