<div style="max-width: 60%; margin: 0 auto;">
    <header class="header layout__header">
        {{ partial "zen/header.html" . }}
    </header>

    <div class="layout__page">
        <main class="main layout__main">
            {{ block "main" . }}{{ end }}
        </main>
    </div>

    <footer class="footer layout__footer">
        {{ partial "zen/footer.html" . }}
    </footer>
</div>

<style>
    @media screen and (max-width: 768px) {
        div {
            max-width: 90% !important;
        }
    }
    
    .layout__page {
        width: 100% !important;
        margin: 0 !important;
        float: none !important;
    }
    
    .layout__main {
        width: 100% !important;
        float: none !important;
    }
</style>