{{ define "main" }}
<div class="posts-list">
    <h2>{{ .Title }}</h2>
    <div class="posts-content" style="margin-top: 2rem;">
        {{ .Content }}
    </div>
</div>

<style>
    /* .posts-list {
        margin: 0;
        padding: 0;
    }

    .about-content {
        line-height: 1.5;
        font-size: 0.95rem;
    } 
    
    .about-content p {
        margin: 0 0 1rem 0;
        text-align: left;
    } */
    
    .posts-content a {
        color: #4271ae;
        text-decoration: none;
    }
    
    .posts-content a:hover {
        text-decoration: underline;
    }
</style>
{{ end }}